@charset "utf-8";
/* CSS Document */

body{
	font-size:60%;
}

h1{
	font:normal 2.5em "fredericka-the-great";
	background:-webkit-radial-gradient(center, red, orange);
	width: 50%;
	text-align: center;
	margin: 15px auto;
	border-radius: 20px;
	padding:15px 0px;
	color:white;
	box-shadow:orange 5px 5px 10px;
	text-shadow:2px 2px 3px white; 
}

h2{
	font:bold 1.7em Century Gothic;
}

section{
	width:91%;
	border-top:1px solid #000000;
	margin:100px auto;
}

figure{
	float:left;
}

figure img{
	padding:2px;
	background:-webkit-radial-gradient(center, blue, aqua);
	box-shadow:grey 6px 6px 4px;
	border-radius: 20px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
}

figure img:hover{
	-webkit-transform:scale(1.5);
}

figcaption{
	text-align: center;
	margin-top: 15px;
	font-size:1.5em;
}

footer{
	clear:both;
	text-align: center;
	padding-top: 100px;
}
























